@font-face {
    font-family: 'Gotham Pro Light';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Gotham Pro Medium';
    src: url('../fonts/GothamPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #292929;
    color: #fff;
    font-family: 'Gotham Pro', sans-serif;
    margin: 0;
}

.header{
    padding-top:50px;
}

.header-description{
    font-family: 'Gotham Pro Light';
    letter-spacing: 0.12px;

}

.text-color-red{
    color: #ff3469;
    font-family: 'Gotham Pro Medium';

}

.header-phone{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    /* text-align: right; */
    font-weight: 500;
    letter-spacing: 0.2px;
    display: block;
}

.header-info {
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
    display: block;
    /* text-align: right; */
    

}

.callback {
    /* text-align: right; */
    display: block;
    margin-top: 7px;
    font-size: 16px;
    color: #ff3469;

}

.hero{
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 77px;
    border-bottom: 1px solid #4c4c4c;
    
}
.hero-title{
font-family: "Gotham Pro Medium";
margin: auto;
font-size: 34px;
margin-bottom: 34px;
line-height: 1.2;
letter-spacing: 0.34px;
max-width: 652px;

}

.hero-description{

font-family: "Gotham Pro Light";
margin: auto;
font-size: 18px;
margin-bottom: 36px;
letter-spacing: 0.18px;
line-height: 1.4;
margin-bottom: 87px;
max-width: 590px;

}

.flowers-slider{
    width: 100%;
    text-align: center;
    margin-bottom: 83px;
    margin-top: 87px;
}
:root { 
    --swiper-navigation-size: 18px;
}

.hero-cta {
    font-family: "Gotham Pro";
font-size: 19px;
margin-top: 83px;
display: block;
}

.button{

    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
background-color: #ff2e55;
    padding: 30px 65px;
    margin-top: 36px;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.reviews{
    padding-top: 100px;
    padding-bottom: 50px;

}
.reviews-slider{
    margin-top: 98px;
}
.review-slide{
    padding-left: 60px;
    padding-right: 50px;
}
.review-image{
    width: 220px;
    height: 220px;
flex-shrink: 0;

border-radius: 50%;
overflow: hidden;
font-size: 20px;
font-family:"Gotham Pro Light";
position: relative;
margin-right: 50px;

}

.review-name{
    margin-bottom: 7px;
}

.review-image:before{
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    position: absolute;
}

.review-image > *{
    position: relative;

}
.review-image-1{
    background: #000 url('../img/review/review-image-1.jpg');
}

.review-image-2{
    background: #000 url('../img/review/review-image-2.jpg');
}

.review-text{
    font-family:"Gotham Pro Light";
    letter-spacing: 0.18px;
    font-size: 18px;
    line-height: 1.4;
}

.review-link{
    color:#f24841;

}

.section-title{
font-size: 30px;
text-transform: uppercase;
text-align: center;
letter-spacing: 0.3px;

}

.advantages {
    text-align: center;
    padding-bottom: 100px;
    padding: 50px;
    border-bottom: 1px solid #4c4c4c;
}
.advantages-title{  
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.4;
}

.advantages-wrapper{
    display: block;
    min-height: 82px;
    margin-bottom: 30px;   
}

.goods{
padding-top: 100px;
padding-bottom: 100px;
}

.section-description{
    font-size: 18px;
    text-align: center;
}

.card{
    text-align: center;
    border: 3px solid #fff;
    padding: 33px 35px 30px 35px;
    margin-top: 27px;

}

.card-title{
    margin-top: 23px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card-label{
    font-size: 14px;
    display: block;
    margin-bottom: 7px;
    margin-top: 20px;
}

.color-label{
    width: 20px;
    height: 20px;
 cursor: pointer;
}

.color-input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -10;
}

.color-label.white{
    background-color: #fff;
}
.color-label.beige{
    background-color: #f7b496;
}
.color-label.red{
    background-color: #ed366e;
}
.color-label.pink{
    background-color: #ff0000;
}
.color-label.blue{
    background-color: #12129d;
}

.counter-input{
border: 2px solid #fff;
width: 40px;
height: 40px;
text-align: center;
color: #fff;
background-color: #292929;
margin-left: 15px;
margin-right: 15px;

}

.counter-button{
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #292929;
    border: none;
}

.card-button{
    font-size: 14px;
    width: 100%;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 10px; 
    padding-right: 10px;
}

.card-image{
    max-height: 72px;
    max-width: 100px;
}
.slide-image{
    max-height: 72px;
    max-width: 100px;
}

.more{
    font-size: 14px;
    color:#f24841;
    display: block;
    text-align: center;
    margin-top: 39px;
    padding: 10px;
}
.more:after{
    content: '';
    width: 10px;
    height: 4px;
    background: url(../img/caret.svg) no-repeat center;
    display: inline-block;
    margin-left: 14px;
    vertical-align: middle;
}

.offer{
padding-top: 100px;
padding-bottom: 100px;
background-color: #1a1a1a;
text-align: center;
}

.offer-link{
    text-transform: uppercase;
    color: #fff;
    display: block;
    font-size: 30px;
    margin-bottom: 65px;
}

.offer-label{
    display: block;
    margin-bottom: 22px;
    font-size: 14px;
}

.offer-phone{
    display: block;
    font-size: 36px;
    text-decoration: none;
    color: #fff;
}

.footer-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu-link{
    text-transform: uppercase;
color: #fff;
font-size: 18px;    
}

.footer-label{
    display: block;
    text-align: right;

    padding-bottom: 13px;
    font-size: 14px;
}

.footer-menu-item{
    line-height: 1.4;
padding-right: 30px;
margin-bottom: 30px;
}

.footer-social{
    font-size: 16px;
}

.footer-info{
    display: block;
    padding-top: 13px;
    text-align: right;
}

.footer-phone{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    text-align: right; 
    font-weight: 500;
    letter-spacing: 0.2px;
    display: block;
}
.footer-white{
    display: block;
    height: 100%;
    width: 100%;
    background: #fff;
    background-color:#fff;
    color: black;
    padding-top:20px;
    padding-bottom:10px;
    margin: 0;
}


.footer-white-info {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 7px;
    display: block;

}

.modal{
    display: none;
}

.modal-button{
width: 100%;
display: block;
}

.modal-input{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;

}

.modal-title{
    color: #000;
}

@media(max-width:768px)
{
    .header{
        text-align: center;
    }

   
    .header-contacts{
        text-align: center;
    }

    .hero{
        padding-top: 50px;
    }

    .hero-description{
        font-size: 16px;
    }
    .hero-title{
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 1.6;
    }
    .button{
         padding-top: 20px;
         padding-bottom: 20px;
         padding-left: 40px;
         padding-right: 40px;
    }
    .colors{
        max-width: 200px;
        margin: auto;
    }

    .card-label{
            margin: 20px auto;
            display: block;
    }
    .footer{
        text-align: center;
    }

    .social-label{
        margin-bottom: 15px;
    }
    .footer-menu
    {
        text-align: center;
    }
    .footer-phone
    {
        text-align: center;
    }
    .footer-info{
        text-align: center;
    }
    .footer-label{
        text-align: center;
    }

    .footer-menu-item {
        text-align: center;
    }
}